<%= form_tag '/addresses', method: :post do %>
    <div>
      <%= label_tag :street_address %>
      <%= text_field_tag :street_address%>
    </div>

    <div>
      <%= label_tag :city %>
      <%= text_field_tag :city%>
    </div>

    <div>
      <%= label_tag :state %>
      <%= text_field_tag :state%>
    </div>

    <div>
      <%= label_tag :zip_code %>
      <%= text_field_tag :zip_code%>
    </div>

    <div class = "buttons">
      <%= submit_tag 'Validate Address' %>
    </div>
<% end %>