<!DOCTYPE html>
<html>
  <head>
    <title>AddressValidator</title>
    <%= csrf_meta_tags %>

    <link rel="icon" href="https://www.vote.org/wp-content/themes/votedotorg/dist/images/favicons/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="https://github.com/kwiest/address-validator-master">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
    </a>
    <header>
      <div class="vdo-logo">
        <%= image_tag 'vdo-logo-32x32.png' %>
        <h1>Vote.org</h1>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
